<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ceadd4">  <td>21/04/20 05:57:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RestAPITest.test1()[pri:0, instance:SeleniumJava.MavenJava.RestAPITest@4a668b6e]">test1</td> 
  <td>main@2125062626</td>   <td></td> </tr>
<tr bgcolor="ceadd4">  <td>21/04/20 05:57:04</td>   <td>19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RestAPITest.test2()[pri:0, instance:SeleniumJava.MavenJava.RestAPITest@4a668b6e]">test2</td> 
  <td>main@2125062626</td>   <td></td> </tr>
</table>
